<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" integrity="sha256-FdatTf20PQr/rWg+cAKfl6j4/IY3oohFAJ7gVC3M34E=" crossorigin="anonymous">
    <title>create-teaching</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">University</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto" style="margin-right: auto">
            <li class="nav-item ">
                <a class="nav-link" href="/">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/input">Title</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tables
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/ui/academworks/get/all">Academic works </a>
                    <a class="dropdown-item" href="/ui/assignment/get/all">Assignment </a>
                    <a class="dropdown-item" href="/ui/curriculums/get/all">Curricula </a>
                    <a class="dropdown-item" href="/ui/departments/get/all">Departments </a>
                    <a class="dropdown-item" href="/ui/examination/get/all">Examination </a>
                    <a class="dropdown-item" href="/ui/faculties/get/all">Faculty </a>
                    <a class="dropdown-item" href="/ui/gradworks/get/all">Graduate works </a>
                    <a class="dropdown-item" href="/ui/groups/get/all">Groups </a>
                    <a class="dropdown-item" href="/ui/specs/get/all">Specializations </a>
                    <a class="dropdown-item" href="/ui/students/get/all">Students</a>
                    <a class="dropdown-item" href="/ui/subjects/get/all">Subjects </a>
                    <a class="dropdown-item" href="/ui/teachers/get/all">Teachers </a>
                    <a class="dropdown-item active" href="/ui/teaching/get/all">Teaching </a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ui/query">Queries</a>
            </li>
        </ul>
        <form class="form-inline" th:if="${#httpServletRequest.remoteUser != null}" th:action="@{/logout}" method="post">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Log out</button>
        </form>
    </div>
</nav>

<form action="#" th:action="@{/ui/attendance/create}" th:object="${attendance}" method="post">
    <div class="form-group row">
        <label for="student">Student</label>
        <div class="col-sm-10">
            <select th:field="*{student}" id="student" required>
                <option th:each="student : ${students}" th:value="${student.id}"
                        th:utext="${student?.group.number}+ ' ' + ${student.name}"></option>
            </select>
        </div>
        <label for="schedule">Schedule</label>
        <div class="col-sm-10">
            <select th:field="*{schedule}" id="schedule" required>
                <option
                        th:each="schedule : ${schedules}"
                        th:if="${schedule.}"
                        th:value="${schedule.id}"
                        th:utext="${schedule?.subject?.name} + ' ' + ${teaching?.teacher?.name}"></option >
            </select>
        </div>
        <label for="day">Day</label>
        <div class="col-sm-10">
            <select th:field="*{day}" id="day" required>
                <option th:value="0">Понеділок</option>
                <option th:value="1">Вівторок</option>
                <option th:value="2">Середа</option>
                <option th:value="3">Четвер</option>
                <option th:value="4" >П'ятниця</option>
            </select>
        </div>
        <label for="time">Time</label>
        <div class="col-sm-10">
            <select th:field="*{time}" id="time" required>
                <option th:value="0">8:20-9:40</option>
                <option th:value="1">9:50-11:10</option>
                <option th:value="2">11:30-12:50</option>
                <option th:value="3">13:00-14:20</option>
                <option th:value="4">14:40-16:00</option>
                <option th:value="5">16:10-17:30</option>
                <option th:value="6">17:40-19:00</option>
                <option th:value="7">19:10-20:30</option>
            </select>
        </div>
        <label for="type">Type</label>
        <div class="col-sm-10">
            <select th:field="*{type}" id="type" required>
                <option th:value="Лекція">Лекція</option>
                <option th:value="Практика">Практика</option>
                <option th:value="Семінар">Семінар</option>
                <option th:value="Консультація">Консультація</option>
            </select>
        </div>
        <div class="col-sm-10" style="margin-top: 10px">
            <input type="submit" value="Add entry">
        </div>
    </div>
</form>


</body>
</html>