
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding-left: 1rem; padding-right: 1rem">
    <a class="navbar-brand" href="#">University</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto" style="margin-right: auto">
            <li class="nav-item" >
                <a class="nav-link active" href="/" aria-current="page">Головна </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Таблиці
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/ui/teacher/get/all">Викладачі </a>
                    <a class="dropdown-item" href="/ui/teaching/get/all">Викладають </a>
                    <a class="dropdown-item" href="/ui/journal/get/all">Журнал </a>
                    <a class="dropdown-item" href="/ui/group/get/all">Групи </a>
                    <a class="dropdown-item" href="/ui/department/get/all">Кафедри </a>
                    <a class="dropdown-item" href="/ui/subject/get/all">Предмети </a>
                    <a class="dropdown-item" href="/ui/conduct/get/all">Проведення </a>
                    <a class="dropdown-item" href="/ui/speciality/get/all">Спеціальності </a>
                    <a class="dropdown-item" href="/ui/student/get/all">Студенти </a>
                    <a class="dropdown-item" href="/ui/faculty/get/all">Факультети </a>
                </div>
            </li>
        </ul>
        <form class="form-inline" th:if="${#httpServletRequest.remoteUser != null}" th:action="@{/logout}" method="post">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Вийти</button>
        </form>
    </div>
</nav>