<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" integrity="sha256-FdatTf20PQr/rWg+cAKfl6j4/IY3oohFAJ7gVC3M34E=" crossorigin="anonymous">
    <title>create-teaching</title>
</head>
<body>
<div th:replace="navbar :: navbar"></div>

<form action="#" th:action="@{/ui/schedule/update/{id}(id=${schedule.id})}" th:object="${schedule}" method="post">
    <div class="form-group row">
        <label for="subject">Group</label>
        <div class="col-sm-10">
            <select th:field="*{group}" id="subject" required >
                <option th:each="group : ${groups}" th:value="${group.id}" th:utext="${group.number}"></option>
            </select>
        </div>
        <label for="teaching">Teaching</label>
        <div class="col-sm-10">
            <select th:field="*{teaching}" id="teaching" required>
                <option th:each="teaching : ${teachings}" th:value="${teaching.id}"
                        th:utext="${teaching?.subject?.name} + ' ' + ${teaching?.teacher?.name}"></option>
            </select>
        </div>
        <label for="day">Day</label>
        <div class="col-sm-10">
            <select th:field="*{day}" id="day" required >
                <option th:value="0">Понеділок</option>
                <option th:value="1">Вівторок</option>
                <option th:value="2">Середа</option>
                <option th:value="3">Четвер</option>
                <option th:value="4" >П'ятниця</option>
            </select>
        </div>
        <label for="time">Time</label>
        <div class="col-sm-10">
            <select th:field="*{time}" id="time" required >
                <option th:value="0">8:20-9:40</option>
                <option th:value="1">9:50-11:10</option>
                <option th:value="2">11:30-12:50</option>
                <option th:value="3">13:00-14:20</option>
                <option th:value="4">14:40-16:00</option>
                <option th:value="5">16:10-17:30</option>
                <option th:value="6">17:40-19:00</option>
                <option th:value="7">19:10-20:30</option>
            </select>
        </div>
        <label for="type">Type</label>
        <div class="col-sm-10">
            <select th:field="*{type}" id="type" required>
                <option th:value="Лекція">Лекція</option>
                <option th:value="Практика">Практика</option>
                <option th:value="Семінар">Семінар</option>
                <option th:value="Консультація">Консультація</option>
            </select>
        </div>
        <a th:href="@{/delete/{id}(id=${schedule.id})}"
           th:onclick="return confirm('Are you sure?')">Delete</a>
        <div class="col-sm-10" style="margin-top: 10px">
            <input type="submit" value="Add entry">
        </div>
    </div>
</form>


</body>
</html>